<div class="page-header">
  <h1>Item Menu #<%= @item_menu.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Item name</dt>
  <dd><%= @item_menu.item_name %></dd>

  <dt>Item category</dt>
  <dd><%= @item_menu.item_category %></dd>

  <dt>Item picture</dt>
  <dd><%= @item_menu.item_picture %></dd>

  <dt>Item price</dt>
  <dd><%= @item_menu.item_price %></dd>

  <dt>Item description</dt>
  <dd><%= @item_menu.item_description %></dd>

</dl>
