<div class="page-header">
  <h1>Editing Order Menu #<%= @order_menu.id %></h1>
</div>

<%= form_tag(order_menu_url(@order_menu), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :weekday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :weekday, @order_menu.weekday, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :quantity, @order_menu.quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_bill, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_bill, @order_menu.item_bill, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Order Menu", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
